<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>page</key>
	<string></string>
	<key>changePage</key>
	<dict>
		<key>navigateTo</key>
		<string>CMRouterNavigator</string>
		<key>presentTo</key>
		<string>CMRouterPresentor</string>
		<key>switchTo</key>
		<string>CMRouterSwitcher</string>
	</dict>
</dict>
</plist>
